<div class="container">
  <div class="row tab round">
    <div class="columns centered" style="line-height: 150%;">
      <h2>The Game</h2>
      <p>Spoon Wars is, at its core, a glorified game of tag.  The twist is that, rather than having one person be "it" trying to tag everyone else, each player is assigned a single target to tag.</p>
      <p>You do not know who is trying to tag you.  Be careful!  We advise walking down the hall spinning constantly so no one can get behind you.</p>
      
      <h4>Materials</h4>
      <p>Spoon Wars requires only one spoon per player.  Spoons should be plastic and non-deadly.  They should also be made of plastic, not metal.  No ladles.</p>
      <p>Each player must also have an account on this website to track their progress in the game.</p>
      
      <h4>Gameplay</h4>
      <p>When a game starts, you will be assigned a target.  Your goal is to sneak up on this target and stab/poke/whack/tap/caress them in/on the back with a plastic spoon.</p>
      <p>If the tag is valid (see Rules and Restrictions), your target will then tell you their code word.  Enter this code word on this website (you'll see the box when the game starts) and you'll be credited for the tag.  You will then be assigned your old target's target, and the pool of players shrinks.</p>
      <p>There will be multiple games going on at once, in pools of 15 to 30 players each.  One round of play is a group of games going on at the same time.</p>
      <p>Each round of play will last one day, 24 hours, 0000 to 2359.  After round one (Monday), the games will be shuffled around and round two will begin.</p>
      <p>If you are tagged, you're out!  You will not be shuffled into the next round.  The exception to this is round one -- we'll have a consolation round for those who were tagged on day one.  There won't be any prizes for this round, but you'll still get what you pay for.</p>
      
      <h4>Rules and Restrictions</h4>
      <p>The big one is: <strong>no tagging in class</strong>.  This could prove to be a giant distracting and disrupting force.  Tags in class are not valid -- you do not have to give anyone your password if you are in a classroom and class are in session.  The same applies to extracurricular activities.  Teachers and coaches have the power to report to us (the site moderators) any infractions of this rule, and you will be dropped from the game.  Let's not have that happen.</p>
      <p>Also, this is supposed to be a sneaky game in which you stealthily whack people with plastic spoons.  This is not supposed to devolve into a bunch of spoon-fencing fights.  You can do that on your own time.  Your target cannot see you when you are tagging them.</p>
      <p>By the same token, strikes to the head or face do not count as tags.  Also, strikes with undue force do not count as tags.</p>
      <p>Please be honest!  If you know you've been tagged, own up to it and give the correct code word.  It's no fun if no one will admit that they've been tagged.</p>
      <br />
      <br />
    </div>
  </div>
</div>
