<div class="container row tab centered" style="text-align: center;">
  <h2>Tag Feed</h2>
  <% Tag.all.each do |t| %>
  <div class="small-5 large-7 columns centered"><%= t.to_s %></div>
  <% end %>
</div>

<div class="container row tab centered" style="text-align: center;">
    <h2>Stats for Round 1 - Monday</h2>
</div>
<div class="container tab row centered" style="text-align: center;">
  <h3>Active Players</h3>
  <% Player.where(tagged: false).each do |p| %>
  <div class="small-2 large-3 columns centered"><%= p.name %></div>
  <% end %>
</div>
<div class="container row tab centered" style="text-align: center;">
  <h3>Inactive (Tagged) Players</h3>
  
  <% Player.where(tagged: true).each do |p| %>
  <div class="small-2 large-3 columns centered"><%= p.name %></div>
  <% end %>
  <br />
  <br />
</div>

