<div class="container row tab centered" style="text-align: center; line-height: 1.5em;">
  <h2>Tag Master List - All Rounds</h2>
  <% Tag.all.each do |t| %>
  <div class="small-6 large-12 columns centered"><%= t.to_s %></div>
  <% end %>
  <br />
  <br />
</div>
<div class="container row tab centered"><br /></div>
