// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab {
    background-color: red;
    border: solid 0px;
    color: white;
}

.tab_row{
    img {
	display: block;   margin-left: auto;   margin-right: auto; 
    }
    padding-left: 1em;
    padding-top: .5em;
    font-size: 2em;
    text-align: center;
}

.stat_row {
    background-color: brown;
    border: solid 0px;
    color: white;
    padding: .5em;
    font-size: 1.5em;
}