<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>RJ Spoon Wars - Round Three</h1>
    <p>
    </p>
    <p>Thanks for participating!  Feel free to ask for clarifications or report any problems by e-mailing <a href='mailto:mahaney@q.com'>the devs</a>.</p>
  </body>
</html>
