<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>The RJ Spoon Wars will begin Monday, March 18th</h1>
    <p>
      You have successfully signed up for Spoon Wars!
    </p>
    <p>
      Your username is your e-mail address.<br/>
    </p>
    <p>
      The main website for Spoon Wars is <%= @url %>.  Detailed information on the game is presented on the front page.
    </p>
    <p>Thanks for joining!  Report any problems to <a href='mailto:mahaney@q.com'>the devs</a>.</p>
  </body>
</html>
