<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Congratulations on making it to the third round of play!  There are 19 players left in the running, with at most two rounds to go.
    </p>
    <p>
      Two prizes will be given out, one for the last man standing and one for the player with the most tags (which players in the consolation pool can still achieve).  The current leaders for the latter award are Drew Quirk, Nicolas Jacobsohn, John Wicklund, and Mason Stragey with six tags each.
    </p>
    <p>
      Targets will be shuffled and reassigned later tonight.  You will keep the same secret word.  Best of luck to you all.
    </p>
    <br />
    <p>Thanks for participating!  Feel free to ask for clarifications or report any problems by e-mailing <a href='mailto:mahaney@q.com'>the devs</a>.</p>
  </body>
</html>
