<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1></h1>
    <p>If you're getting this e-mail, then you have been tagged at least once this week, placing you in the consolation pool.</p>
    <p>
      Fret not that your money has been wasted, though - two prizes will be given out, one for the last man standing (for which you are unfortunately ineligible) and one for the player with the most tags (which you can still achieve).  The current leaders are Drew Quirk, Nicolas Jacobsohn, John Wicklund, and Mason Stragey with six tags each.
    </p>
    <p>
      Targets will be shuffled and reassigned later tonight.  You will be given a new code word about the same time.  Again, e-mail <a href="mailro:mahaney@q.com">mahaney@q.com</a> if you would like to resign.
    </p>
    <p>Thanks for participating!  Feel free to ask for clarifications or report any problems by e-mailing <a href='mailto:mahaney@q.com'>the devs</a>.</p>
  </body>
</html>
