<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>The RJ Spoon Wars will begin Tuesday, March 19th</h1>
    <p>
      If you are reading this (and it looks like you are!) then you have successfully signed up for Spoon Wars!
    </p>
    <p>
      Your username is your e-mail address.<br/>
    </p>
    <p>
      The main website for Spoon Wars is <a href="http://spoons.stratosphe.re">spoons.stratosphe.re</a>.  Detailed information on the game is presented on the front page.
    </p>
    <p>
      Secret words will be assigned shortly after this email is sent out.  Targets will be assigned later tonight.  Once targets are assigned, the game will begin.
    </p>
    <p>
      Monday's round was a practice run for the ironing out of errors.  As such, all tags that occurred today will be reset.  The real game will begin tomorrow (or tonight around 8, really, if you feel like driving to a stranger's house to whack them with cutlery).
    </p>
    <p>Thanks for participating!  Feel free to ask for clarifications or report any problems by e-mailing <a href='mailto:mahaney@q.com'>the devs</a>.</p>
  </body>
</html>
