<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      An additional reminder: We've noticed that some mobile devices and phones have trouble displaying the upper menu bar.  We're working on fixing that, but in the meantime you can skip directly to <a href="spoons.stratosphe.re/login">spoons.stratosphe.re/login</a> to log in.
    </p>
    <p>Thanks for participating!  Feel free to ask for clarifications or report any problems by e-mailing <a href='mailto:mahaney@q.com'>the devs</a>.</p>
  </body>
</html>
